@{
    var strName = QT.SuperWebApp.ConstantValueProject.CVPartialView.PartialView._CardSortMaxToMin.STR;
    if (strName == "")
    {
    }

    var lstTupleInput = (List<Tuple<string, string>>)ViewData["List<Tuple<string,string>>"]!;
    int intCount = lstTupleInput.Count;
}

<div class="card  bg-primary my-1">
    <div class="card-header px-0 py-0 d-flex justify-content-between">

        <div class="my-auto mx-3">
            <a href="javascript:void(0);" class="text-decoration-none">
                <span class="text-white fs-7">@((string)ViewData["string.strTimeBeginEnd"]!)</span>
            </a>
        </div>

        <div class="my-auto mx-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="white" class="bi bi-sort-down" viewBox="0 0 16 16">
                <path d="M3.5 2.5a.5.5 0 0 0-1 0v8.793l-1.146-1.147a.5.5 0 0 0-.708.708l2 1.999.007.007a.497.497 0 0 0 .7-.006l2-2a.5.5 0 0 0-.707-.708L3.5 11.293V2.5zm3.5 1a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zM7.5 6a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zm0 3a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3zm0 3a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1z"></path>
            </svg>
        </div>

    </div>

    @if (intCount > 0)
    {

        <div class="my-auto px-0 col">
            <ul class="list-group  list-group-flush">

                @if (intCount == 1)
                {

                    <li class="list-group-item fw-bold py-0 list-group-item-success d-flex justify-content-between align-items-center">
                        @lstTupleInput[0].Item1
                        <span class="badge bg-primary rounded-pill">@lstTupleInput[0].Item2</span>
                    </li>

                }

                @if (intCount == 2)
                {

                    <li class="list-group-item fw-bold py-0 list-group-item-success d-flex justify-content-between align-items-center">
                        @lstTupleInput[0].Item1
                        <span class="badge bg-primary rounded-pill">@lstTupleInput[0].Item2</span>
                    </li>

                    <li class="list-group-item  py-0 list-group-item-warning d-flex justify-content-between align-items-center">
                        @lstTupleInput[1].Item1
                        <span class="badge bg-primary rounded-pill">@lstTupleInput[1].Item2</span>
                    </li>

                }

                @if (intCount == 3)
                {

                    <li class="list-group-item fw-bold py-0 list-group-item-success d-flex justify-content-between align-items-center">
                        @lstTupleInput[0].Item1
                        <span class="badge bg-primary rounded-pill">@lstTupleInput[0].Item2</span>
                    </li>

                    <li class="list-group-item  py-0 d-flex justify-content-between align-items-center">
                        @lstTupleInput[1].Item1
                        <span class="badge bg-primary rounded-pill">@lstTupleInput[1].Item2</span>
                    </li>

                    <li class="list-group-item  py-0 list-group-item-warning d-flex justify-content-between align-items-center">
                        @lstTupleInput[2].Item1
                        <span class="badge bg-primary rounded-pill">@lstTupleInput[2].Item2</span>
                    </li>

                }

                @if (intCount > 3)
                {

                    <li class="list-group-item fw-bold py-0 list-group-item-success d-flex justify-content-between align-items-center">
                        @lstTupleInput[0].Item1
                        <span class="badge bg-primary rounded-pill">@lstTupleInput[0].Item2</span>
                    </li>

                    <li class="list-group-item  py-0 d-flex justify-content-between align-items-center">
                        @lstTupleInput[1].Item1
                        <span class="badge bg-primary rounded-pill">@lstTupleInput[1].Item2</span>
                    </li>

                    @if (intCount > 4)
                    {

                        <li class="list-group-item  py-0 d-flex justify-content-between align-items-center">
                            ...
                        </li>

                    }

                    <li class="list-group-item  py-0 d-flex justify-content-between align-items-center">
                        @lstTupleInput[intCount-2].Item1
                        <span class="badge bg-primary rounded-pill">@lstTupleInput[intCount-2].Item2</span>
                    </li>

                    <li class="list-group-item  py-0 list-group-item-warning d-flex justify-content-between align-items-center">
                        @lstTupleInput[intCount-1].Item1
                        <span class="badge bg-primary rounded-pill">@lstTupleInput[intCount-1].Item2</span>
                    </li>

                }

            </ul>
        </div>

    }

</div>
